polkit.addRule(function(action, subject) {
    if (action.id.startsWith("com.github.calamares.calamares")) {
        return polkit.Result.YES;
    }
});

